# Production dependencies
click>=8.1.8
PyYAML>=6.0.2
Jinja2>=3.1.6
git+https://github.com/Facets-cloud/python-hcl2.git
jsonschema>=4.23.0
requests>=2.32.3
checkov==3.2.414
questionary>=2.1.0
ruamel.yaml
hcl>=0.2.1
lark>=1.2.2
setuptools>=80.3.1

# Development dependencies
pytest>=8.3.5
pytest-mock
pyhcl>=0.4.5
