intent: {{ intent }}
flavor: {{ flavor }}
version: 1.0
clouds: [ {{ cloud }} ]
spec:
  title: {{ title }}
  description: {{ description }}
  type: object
  properties:
inputs:
outputs:
sample:
  kind: {{ intent }}
  flavor: {{ flavor }}
  version: "1.0"
  spec:
